*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection{
    outline-color: #f6ec82;
    -webkit-tap-highlight-color: transparent;
}
ul,li{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

html{
    scroll-behavior: smooth;
}

body{
    height: 100vh;
}

p{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}

a,button,textarea,
a:hover,button:hover,
img,img:hover{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}


section{
    padding: 20px 5%;
    transition: .4s ease;
}

#header{
    position: sticky;
    background-color: #fff;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    z-index: 999;
}

.logo{
    font-weight: 900;
    font-size: 2rem;
    color: #000;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#close{
    display: none;
}

#header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

#header li a{
    font-size: 1.2rem;
    align-items: center;
    font-weight: 400;
}

#header.active{
    display: none;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navform{
    display: none;
}

#mobilenav{
    display: none;
}
#navicon{
    display: flex;
    align-items: center;
}

#navicon i{
    font-size: 1.5rem;
    margin-right: .5rem;
    cursor: pointer;
}

.small_log{
    display: none;
}

#mobile{
    display: none;
}

#hero{
    min-height: 100vh;
}

#hero h1{
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 1px solid #000;
}

#hero p{
    font-size: .9rem;
    padding: 1.5rem 0;
}

.container{
    min-height: 100vh;
}

.category{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    grid-auto-flow: dense;
    border-radius: 20px;
    min-height: inherit;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 800;
    color: #fff;
    text-align: center;
    border-radius: 20px;
    background-color: green;
    cursor: pointer;
}

.one{
    grid-row: span 2;
    background-color: #fff;
}

.two{
    background-color: #000;
}

.three{
    background-color: blue;
    grid-row: span 2;
}

.four{
    background-color: purple;
    grid-row: span 2;
}

.five{
    background-color: pink;
    grid-row: span 2;
}

.six{
    background-color: orange;
}

.seven{
    background-color: orangered;
}

.eight{
    background-color: chocolate;
}
.card:not(:hover){
    filter: brightness(.6);
}

#footer{
    background-color: #000;
    padding-top: 60px;
    padding-bottom: 80px;
    color: #fff;
    transition: .3s;
}

.footer_info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    line-height: 1.5;
    align-items: center;
    margin: 0 auto;
    gap: 20px;
    padding: 0 15px;
}

.footer_col{ 
    margin: 0;
    margin-bottom: 5px;
    margin-top: 5px; 
}

.footer_col p{
    font-size: 15px;
    font-weight: 400;
}
.footer_col h4{
    font-size: 1.3rem;
    margin-top: 5px 0;
    margin-bottom: 0;
}

.footer_col ul{
    margin: 10px 0;
    padding: 0;
}

.footer_col ul li{
    margin: 2px 0;
}

.footer_col ul li a{
    font-weight: 400;
    font-size: .9rem;
    color: #fff;
    transition: .3s;
}
.footer_col ul li a:hover{
    color: #f6ec82;
}

.socials i{
    display: inline-block;
    font-size: 2.7rem;
    margin-right: 5px;
    transition: .3s ease;
}

.socials i:hover{
    color: #f6ec82;
    transform: scale(1.1);
}

.payment i{
    display: inline-block;
    margin-top: 0;
    padding: 0;
    font-size: 2.7rem;
    margin-right: 5px;
}
.payment i:hover{
    color: #f6ec82;
}

.end{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    margin-top: 12px;
    border-top: 1.5px solid #fff;
}

@media (max-width: 768px){
    body{
        padding: 4rem 0;
    }

    #header{
        position: fixed;
        display: flex;
        align-items: center;
        width: 100%;
        top: 0;
        height: 4rem; 
        box-shadow: 0 0 8px rgba(0, 0, 0, .2);
    }

    #navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        left: -400px;
        padding: 5rem .4rem;
        width: 400px;
        min-height: 100vh;
        background-color: #ffffff;
        transition: .3s ease;
    }

    #navbar.active{
        left: 0;
    }

    #navbar li{
        display: none;
    }

    #mobilenav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    #mobilenav p{
        width: inherit;
        text-align: justify;
        padding: 1.3rem 1rem;
        border-radius: .3rem;
        font-weight: 500;
        cursor: pointer;
        transition: .3s ease;
    }

    #mobilenav p:hover{
        background-color: #f6ec82;
    }

    #navform{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        font-weight: 500;
        text-align: justify;
        width: 100%;
        cursor: pointer;
        transition: .3s ease;
    }

    
    #navform p{
        background-color: #b2adad;
        border-radius: .3rem;
        padding: 1rem 1rem;
        width: 100%;
    }

    #navform p:hover{
        background-color: #f6ec82;
    }

    #navform i{
        border-radius: 50px;
        margin-right: .5rem;
        cursor: pointer;
    }

    #navicon p,
    #navicon a{
        display: none;
    }

    .small_log{
        display: flex;
        position: absolute;
        top: 1.5rem;
        left: .6rem;
        font-size: 2rem;
        font-weight: 900;
    }

    #close{
        display: flex;
        position: absolute;
        top: 1.5rem;
        right: .6rem;
        font-size: 1.5rem;
        padding: .3rem .6rem;
        cursor: pointer;
        box-shadow: 0 0 3px rgba(0, 0, 0, .1);
    }

    #mobile{
        display: flex;
        align-items: center;
        column-gap: .7rem;
    }

    #mobile i{
        padding: .3rem .6rem;
        margin-right: .2rem;
        font-size: 1.4rem;
        cursor: pointer;
        box-shadow: 0 0 3px rgba(0, 0, 0, .4);
    }

    #mobile i:hover{
        box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    }

    .category{
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-height: inherit;
    }
    
    .card{
        background-color: green;
        cursor: pointer;
    }
    
    .one{
        grid-row: span 2;
        background-color: #fff;
    }
    
    .two{
        background-color: #000;
        color: #fff;
        grid-row: span 2;
    }
    
    .three{
        background-color: blue;
        grid-row: span 2;
    }
    
    .four{
        background-color: purple;
        grid-row: span 2;
    }
    
    .five{
        background-color: pink;
        grid-row: span 2;
    }

    .six{
        background-color: orange;
    }

    .seven{
        background-color: orangered;
        grid-row: span 2;
    }

    .eight{
        background-color: chocolate;
    }

    #footer{
        padding-top: 40px;
        padding-bottom: 60px;
    }
}

@media (max-width: 500px){
    #navbar{
        width: 350px;
        left: -350px;
    }

    .small_log{
        font-size: 1.5rem;
    }

    section{
        padding: 15px 2%;
    }

    .category{
        display: grid;
        grid-template-columns: 1fr;
        min-height: inherit;
    }
    
    .card{
        background-color: green;
        cursor: pointer;
        min-height: 50vh;
    }
    
    .one{
        grid-row: span 2;
        background-color: #fff;
    }
    
    .two{
        background-color: #000;
        color: #fff;
        grid-row: span;
    }
    
    .three{
        background-color: blue;
        grid-row: span 2;
    }
    
    .four{
        background-color: purple;
        grid-row: span 2;
    }
    
    .five{
        background-color: pink;
        grid-row: span 2;
    }

    .six{
        background-color: orange;
    }

    .seven{
        background-color: orangered;
        grid-row: span 2;
    }

    .eight{
        background-color: chocolate;
    }

    .footer_info{
        /* grid-template-columns: 1fr; */
        margin: 10px 0;
        row-gap: 10px;
    }

    .footer_col{
        margin: 10px 0;
    }

    .end{
        flex-direction: column;
        align-items: flex-start;
        margin-top: 10px;
    }
}

@media (max-width: 368px){
    #navbar{
        width: 300px;
        left: -350px;
        height: 100%;
    }
}