@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root{
--section-1: 10px 4%;
--section-2: 10px 3%;
--section-3: 10px 2%;
--font-family-2: 'archivo Black';
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'poppins',sans-serif;
    scrollbar-width: thin;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    padding: var(--section-1);
}

#header{
    position: fixed;
    width: 100%;
    background-color: #ffffff;
    top: 0;
    padding: var(--section-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    z-index: 999;
}

.logo{
    font-weight: 900;
    font-size: 1.5rem;
    color: #000000;
}

#close{
    display: none;
}

#header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

#header li a{
    position: relative;
    isolation: isolate;
    font-size: 1rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #000000;
    padding-bottom: 3px;
}

#header li a::after{
    position: absolute;
    content: "";
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #000000;
    width: 0;
    transition: .3s ease;
}

#header li a:hover::after{
    width: 100%;
}


#header.active{
    display: none;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navform{
    display: none;
}

#mobilenav{
    display: none;
}
#navicon{
    display: flex;
    align-items: center;
}

#navicon i{
    font-size: 1.6rem;
    align-items: center;
    margin-right: .5rem;
    cursor: pointer;
}

#mobileicons{
    display: none;
    align-items: center;
    padding: 0;
    column-gap: .3rem;
}

#mobileicons i{
    font-size: 1.6rem;
}
#mobile{
    display: none;
}

#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    color: #d6d6d6;
    transition: .4s ease-in-out;
    margin-bottom: 1.4rem;
}

.hero-flex{
    margin: 3rem;
    line-height: 34px;
}

.hero-content{
    text-align: center;
    margin: 3rem;
}

.hero-sub{
    line-height: 18px;
    text-align: center;
    margin: 3rem;
}

.hero-sub a{
    text-decoration: underline;
}

#hero h1{
    font-size: 3rem;
    color: #d6d6d6;
    font-weight: 500;
    transition: inherit;
}

.hero-content h3{
    font-weight: 400;
    font-size: 1.5rem;
}

#hero p{
    text-align: center;
    padding-inline: .7rem;
    margin-bottom: .7rem;
}

#item{
    text-align: center;
    margin-bottom: .9rem;
}

#item h2{
    font-weight: 400;
}


.item-pro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    align-items: center;
    transition: .4s ease;
}

.item-card img{
    max-width: 100%;
    object-fit: cover;
    cursor: pointer;
    object-position: center;
    transition: .4s ease;
}

.item-card img:not(:hover){
    filter: brightness(.95);
}

.item-card{
    width: 24.9%;
    padding: 1rem .2rem;
    margin-bottom: 1rem;
    transition: inherit;
}

.item-card:hover{
    box-shadow: 0 0 2px rgba(0, 0, 0, .6);
}

.item-des{
    padding: 0;
    text-align: center;
    transition: inherit;
}


.item-des a,
.item-des p{
    line-height: 1.1;
    font-size: .8rem;
    font-weight: 500;
}

.item-des a:hover{
    color: #251b1b;
    text-decoration: underline;
}

#footer{
    background-color: #d6d6d6;
    padding: 2rem 2%;
}

.dropDown{
    width: 100%;
    height: 2.3rem;
    border: none;
    font-size: 1.1rem;
    text-align: justify;
    background-color: transparent;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    border-bottom: 1.4px solid #000;
    transition: .3s ease-in-out;
}

.footer-content{
    padding: .5rem 0;
    display: none;
    overflow: hidden;
    transition: .3s ease-in-out;
}

.active, .dropDown:hover{
    transition: .4s ease;
}

.list-foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.list-foot li{
    width: 100%;
    padding: .3rem 0;
    border-bottom: 1.4px solid #000;
}

.list-foot li a{
    font-size: 1rem;
    transition: .3 ease;
}

.list-foot li a:hover{
   color: #2f2f2f;
}

.socials{
    padding: .6rem 0;
}

.socials i{
    font-size: 2rem;
    cursor: pointer;
    transition: .3s scale;
}

.socials i:hover{
    transform: scale(1.1);
}

.close{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8rem;
    margin: .5rem 0;
}


@media (max-width: 900px){
    section{
        padding: 1rem 2%;
    }

    #header{
        position: flex;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        height: 2rem; 
        backdrop-filter: blur(10px);
    }

    #navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -100%;
        padding: 6rem 2% 3rem;
        width: 100%;
        min-height: 100vh;
        background-color: #fff;
        transition: right .3s;
    }

    #navbar.active{
        right: 0;
        background-color: #d6d6d6;
    }

    .logo{
        font-size: 1.5rem;
    }

    #navbar li{
        display: none;
    }

    #mobileicons{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #mobileicons i{
        font-size: 1.6rem;
    }
    #mobilenav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    #mobilenav p{
        width: 100%;
        text-align: justify;
        padding: 1.3rem 1rem;
        border-radius: .4rem;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: .3s ease;
    }

    #mobilenav p:hover{
        background-color: rgba(0, 0, 0, 0.30);
        color: #d6d6d6;
    }

    #navform{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        font-weight: 500;
        text-align: justify;
        width: 100%;
        cursor: pointer;
        transition: .3s ease;
    }

    
    #navform p{
        background-color: #b2adad;
        border-radius: .3rem;
        padding: 1rem 1rem;
        width: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #navform p:hover{
        background-color: #f6ec82;
    }

    #navform i{
        border-radius: 50px;
        margin-right: .5rem;
        cursor: pointer;
    }

    #navicon p,
    #navicon a{
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #close{
        display: flex;
        position: absolute;
        top: 1.3rem;
        right: 2%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        font-size: 1.5rem;
        font-weight: 700;
        cursor: pointer;
    }


    .item-des a,
    .item-des p{
        font-size: .78rem;
    }
}

@media (max-width: 868px){
    .item-pro{
        justify-content: space-between;
        gap: 1rem;
    }
    .item-card{
        width: 30%;
    }
    .item-des a,
    .item-des p{
    line-height: 1.1;
    font-size: .8rem;
    font-weight: 500;
}
}

@media (max-width: 768px){
    .item-card{
        width: 45%;
    }

    .item-des a,
    .item-des p{
    font-size: .8rem;
    font-weight: 500;
}
}

@media (max-width: 620px){
    .item-des a,
    .item-des p{
    line-height: 1.1;
    font-weight: 400;
}
}

@media (max-width: 468px){
    section{
        padding: 10px 1%;
    }
    #navbar{
        padding: 4rem .3rem 7rem;
    }

    .logo{
        font-size: 1.3rem;
        font-weight: 900;
    }

    #mobileicons i{
        font-size: 1.5rem;
    }

    #hero h1{
        font-size: 1.8rem;
        color: #d6d6d6;
        font-weight: 900;
    }
    
    .hero-content h3{
        font-weight: 400;
        font-size: 1rem;
    }

    .hero-flex{
        margin: 2rem 0 0;
    }

    .item-pro{
        padding: 0;
    }
    .item-card{
        width: 45%;
        padding: .5rem;
    }

    .item-des{
        text-align: center;
    }

    .item-des a,
    .item-des p{
        font-weight: 400;
        font-size: .75rem;
    }
}

@media (max-width: 376px){
    .item-des a,
    .item-des p{
        font-size: .68rem;
    }
}

@media (max-width: 325px){
    .item-card{
        width: 100%;
    }

    .item-des a,
    .item-des p{
        font-weight: 400;
        font-size: .9rem;
    }
}

@media (max-width: 240px){
    .logo{
        font-size: 1rem;
    }
}    