@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root{
--color: #f6ec82;
--h1: 3.5rem; /*@ full display*/
--h1-2: 3rem;
--h1-3: 2.3rem;
--hero-bttn-1-width: 60%;
--hero-bttn-2-width: 40%;
--hero-bttn-3-width: 35%;
--hero-bttn-3-height: 2rem;
--section-1: 20px 4%;
--section-2: 15px 3%;
--section-3: 15px 2%;
--font-family-2: 'archivo Black';
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: 'poppins',sans-serif;
    scrollbar-width: thin;
}

a{
    text-decoration: none;
    color: inherit;
}

section{
    padding: var(--section-1);
}

#container{
    position: relative;
    top: 0;
    padding: 0;
    min-height: 100vh;
}

#header{
    position: absolute;
    width: 100%;
    background-color: #00000000;
    top: 0;
    padding: var(--section-1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    z-index: 999;
}

.logo{
    font-weight: 900;
    font-size: 1.5rem;
    color: #d6d6d6;
}

#close{
    display: none;
}

#header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

#header li a{
    position: relative;
    isolation: isolate;
    font-size: 1rem;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #d6d6d6;
    padding-bottom: 3px;
}

#header li a::after{
    position: absolute;
    content: "";
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #d6d6d6;
    width: 0;
    transition: .3s ease;
}

#header li a:hover::after{
    width: 100%;
}


#header.active{
    display: none;
}

#navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}

#navform{
    display: none;
}

#mobilenav{
    display: none;
}
#navicon{
    display: flex;
    align-items: center;
}

#navicon i{
    color: #d6d6d6;
    font-size: 1.6rem;
    align-items: center;
    margin-right: .5rem;
    cursor: pointer;
}
#navicon i:hover{
    color: rgba(0, 0, 0, .3);
}

#mobileicons{
    display: none;
    align-items: center;
    padding: 0;
    column-gap: .3rem;
}

#mobileicons i{
    font-size: 1.6rem;
}
#mobile{
    display: none;
}

#hero{
  position: relative;
  display: flex;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(80deg, #34312d15, #000000);
  align-items: flex-end;
  min-height: inherit;
  padding: 8rem 0 60px;
  color: #d6d6d6;
  overflow: hidden;
  margin-bottom: 1.5rem;
}

#herovideo{
  position: absolute;
  min-width: 100%;
  min-height: inherit;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-content{
  max-width: 40%;
  margin: 1rem 4%;
  transition: .3s ease;
}

.hero-content h1{
  font-size: var(--h1);
  font-family: var(--font-family-2);
  font-weight: 900;
  line-height: 1.2;
}

.hero-content h2{
  line-height: 1.1;
  font-weight: 500;
  padding-bottom: .5rem;
}

.hero-content p{
  padding-bottom: .5rem;
}

.hero-content button{
  width: var(--hero-bttn-1-width);
  height: 3rem;
  border-radius: .8rem;
  border: none;
  color: #d6d6d6;
  background-color: rgba(0, 0, 0, .30);
  cursor: pointer;
  transition: .3s ease;
}

.hero-content button:hover{
  background-color: rgba(0, 0, 0, 0.874);
}



@media (max-width: 768px){
    section{
        padding: 0 2%;
    }
    #header{
        position: fixed;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        top: 0;
        height: 2rem; 
    }

    #navbar{
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        top: 0;
        right: -100%;
        padding: 6rem 2% 3rem;
        width: 100%;
        min-height: 100vh;
        background-color: #d6d6d6;;
        transition: .3s ease;
    }

    #navbar.active{
        right: 0;
    }

    .logo{
        font-size: 1.5rem;
    }

    #navbar li{
        display: none;
    }

    #mobileicons{
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    #mobileicons i{
        font-size: 1.6rem;
        color: #d6d6d6;
    }

    #mobileicons i:hover{
        color: rgba(0, 0, 0, .3);
    }

    #mobilenav{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }

    #mobilenav p{
        width: 100%;
        text-align: justify;
        padding: 1.3rem 1rem;
        border-radius: .4rem;
        cursor: pointer;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        transition: .3s ease;
    }

    #mobilenav p:hover{
        color: #d6d6d6;;
        background-color: rgba(0, 0, 0, .30);
    }

    #navform{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
        font-weight: 500;
        text-align: justify;
        width: 100%;
        cursor: pointer;
        transition: .3s ease;
    }

    
    #navform p{
        background-color: #b2adad;
        border-radius: .3rem;
        padding: 1rem 1rem;
        width: 100%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #navform p:hover{
        background-color: #f6ec82;
    }

    #navform i{
        border-radius: 50px;
        margin-right: .5rem;
        cursor: pointer;
    }

    #navicon p,
    #navicon a{
        display: none;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #close{
        display: flex;
        position: absolute;
        top: 1.3rem;
        right: 2%;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

    #mobile{
        display: flex;
        align-items: center;
    }

    #mobile i{
        font-size: 1.5rem;
        cursor: pointer;
        color: #fff;
        font-weight: 700;
    }
}

@media (max-width: 468px) {
    #navbar{
        padding: 4rem .3rem 7rem;
    }

    #container{
        min-height: 90vh;
    }

    .logo{
        font-weight: 800;
    }

    #mobileicons i{
        font-size: 1.5rem;
    }

    .hero-content h1{
      font-size: var(--h1-3);
    }

    .hero-content{
      max-width: 100%;
    }
}
    
/* @media (max-width: 325px){

} */
    
